@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {margin: 0; padding: 0;}

body {
	font-family: 'Raleway', serif;
}

p {
	width: 70%;
	margin: auto;
	font-size: 24px;
	padding:20px;
}

ul {
	width: 70%;
	margin: auto;
	font-size: 20px;
	padding:20px;
	font-weight:400;
}

a{
	text-decoration: none;
}

a:hover{
	color: black;
}

.navbar {
	z-index: 1;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar .home {
  float: left;
  display: block;
  color: darkgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
	font-weight: 700;
}

.header {
  padding: 60px;
  text-align: left;
	background-image:url('img/back-pct.jpg');
	background-position: center;
  color: white;
  font-size: 20px;
}

/* Blog */
.wrapper {
  position: relative;
  text-align: center;
	color:white;
	font-size: 30px;
}

.wrapper a {
	color: white;
	font-size: 50px;
}

.centered{
	visibility:hidden;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper:hover .centered{
	visibility: visible;
}

.wrapper:hover {
  opacity:0.5;
}

.wrapper img{
	width:100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogimage img{
	width: 60%;
	text-align: center;
	margin: auto;
	display:block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 8px;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
}
